.features {
    background-color: var(--theme-red);
    color: white;
}

.featuresContainer {
    display: flex;
}

.feature {
    border: solid white 4px;
    border-radius: 8px;
    padding: 32px;
}

/* DESKTOP */
@media only screen and (min-width: 751px) {

}

/* MOBILE */
@media only screen and (max-width: 750px) {
    .featuresContainer {
        flex-direction: column;
        gap: 32px;
        padding: 32px 0;
    }

    .feature {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .featureHeaderContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8vw;
    }

    .reverse {
        display: flex;
        flex-direction: row-reverse;
    }
}