.coaButton {
    background-color: var(--theme-green);
    color: white;
    text-align: center;
    text-decoration: none;
}

.heroHeader {
    padding: 16px 0;
}

.heroSubtitle {
    padding-bottom: 16px;
}

/* DESKTOP */
@media only screen and (min-width: 751px) {
    .heroContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .heroBackgroundImage {
        position: absolute;
        top: 0px;
        z-index: -1;
        width: 30%;
        height: auto;
    }

    .heroImageContainer {
        flex: 0 2 600px
    }

    .heroImage {
        width: 40vw;
        height: auto;
    }

    .heroContentContainer {
        flex: 2 0 200px;
    }

    .coaContainer {
        padding: 16px 0;
    }

    .coaButton {
        display: block;
        width: 50%;
        color: white;
    }

    .coaSubtitle {
        padding-top: 32px;
    }
}

/* MOBILE */
@media only screen and (max-width: 750px) {
    .heroImage {
        width: 100%;
        height: auto;
    }

    .coaContainer {
        padding: 16px 0;
    }

    .coaButton {
        display: block;
    }

    .coaSubtitle {
        padding-top: 16px;
    }
}